@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

:root {
  --bg--primary: #2f69fe;
  --black: #353331;
  --white: #fff;
}

a {
  text-decoration: none;
}

.btn-custom-primary {
  background-color: var(--bg--primary);
  color: var(--white);
}
.btn-custom-primary:hover {
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}
.border--primary {
  border: 1px solid var(--bg--primary);
}

.border--primary:focus {
  border: 1px solid var(--black);
  box-shadow: none;
}

.center-form {
  margin-top: 30%;
  margin-bottom: 30%;
}

.register-form {
  margin-top: 20%;
  margin-bottom: 20%;
}
